{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% include 'includes/navmenu.html' %}
{% block content %}
    <section class="section">
        <div class="container">
            <h6 class="xs-font mb-0">Реализованные проекты</h6>
            <h3 class="section-title pb-4">Дома</h3>
        </div>
        <div class="container-fluid mt-4">
            <div class="row">
                {% if houses %}
                    {% for house in houses %}
                        <div class="col-md-3 col-sm-6 mb-4">
                            <a href={% url 'houses:house_detail'  house.pk %} class="item expertises-item">
                                <img src="{{ house.main_photo.url }}" alt="{{ house.name }}"
                                     class="box-shadow img-fluid">
                                <h6 class="mt-3 mb-2">{{ house.name }}</h6>
                                <p class="xs-font">{{ house.description|truncate_smart:100 }}</p>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="container">
                        <h3 class="text-center">Список пуст</h3>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg justify-content-center">
                    {% for page_num in paginator.page_range %}
                        {% if page_num == page_obj.number %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ page_num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </section>
{% endblock %}
