{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <br>
    <div class="container mb-3">
        <div class="blog-wrapper">
            <div class="img-wrapper d-flex">
                <img src="{{ house.main_photo.url }}" alt="{{ house.name }}">
            </div>
            <div class="container">
                <h6 class="xs-font mb-0">Название</h6>
                <h4 class="blog-title">{{ house.name }}</h4>
                <h6 class="xs-font mb-0">Описание</h6>
                <p>{{ house.description }}</p>
            </div>
        </div>
    </div>
    <section class="gallery-block compact-gallery">
        <div class="container">
            <div class="heading">
                <h4>Галерея</h4>
            </div>
            <div class="row no-gutters">
                {% for photo in photos %}
                    <div class="col-md-6 col-lg-3 item zoom-on-hover">
                        <a class="lightbox" href={{ photo.image.url }}>
                            <img class="img-fluid image scale-on-hover" src={{ photo.image.url }}>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <br>
        <div style="text-align: center">
            <a class="btn btn-primary btn-rounded" href={% url 'houses:house_list' %}>К списку домов</a>
            <a class="btn btn-outline-primary btn-rounded" href={% url 'houses:home' %}>На главную</a>
        </div>
    </section>


{% endblock %}