{% extends 'base.html' %}
{% load static %}
{% include 'includes/navmenu.html' %}
{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="javascript:void(0)" class="item expertises-item">
                    <img src="{% static 'imgs/img-1.jpg' %}" alt="Fuga asperiores" class="box-shadow img-fluid">
                    <h6 class="mt-3 mb-2">Fuga asperiores</h6>
                    <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="javascript:void(0)" class="item expertises-item">
                    <img src="{% static 'imgs/img-2.jpg' %}" alt="Voluptatibus iure!" class="box-shadow img-fluid">
                    <h6 class="mt-3 mb-2">Voluptatibus iure!</h6>
                    <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="javascript:void(0)" class="item expertises-item">
                    <img src="{% static 'imgs/img-3.jpg' %}" alt="Autem minus animi" class="box-shadow img-fluid">
                    <h6 class="mt-3 mb-2">Autem minus animi</h6>
                    <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="javascript:void(0)" class="item expertises-item">
                    <img src="{% static 'imgs/img-4.jpg' %}" alt="Sed eligendi" class="box-shadow img-fluid">
                    <h6 class="mt-3 mb-2">Sed eligendi</h6>
                    <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="javascript:void(0)" class="item expertises-item">
                    <img src="{% static 'imgs/img-8.jpg' %}" alt="Totam eveniet assumenda!"
                         class="box-shadow img-fluid">
                    <h6 class="mt-3 mb-2">Totam eveniet assumenda!</h6>
                    <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="javascript:void(0)" class="item expertises-item">
                    <img src="{% static 'imgs/img-9.jpg' %}" alt="Sapiente dolore ut" class="box-shadow img-fluid">
                    <h6 class="mt-3 mb-2">Sapiente dolore ut</h6>
                    <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
