{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Moscow Estate - turnkey country houses near Moscow">
    <meta name="author" content="Roman Pecheritsa">
    <title>Moscow Estate - Загородные дома под ключ возле Москвы</title>

    <link rel="stylesheet" href={% static "vendors/owl-carousel/css/owl.carousel.css" %}>
    <link rel="stylesheet" href={% static "vendors/owl-carousel/css/owl.theme.default.css" %}>
    <link rel="stylesheet" href={% static "css/ollie.css" %}>
    <link rel="stylesheet" href={% static 'css/baguetteBox.min.css' %}/>
    <link rel="stylesheet" href={% static 'css/compact-gallery.css' %}/>
    <link rel="stylesheet" href="{% static 'icons/bootstrap-icons.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

{% include 'includes/navmenu.html' %}
{% block content %}
{% endblock %}
{% include 'includes/footer.html' %}
{% include 'includes/scroll_button.html' %}

<script src={% static "vendors/jquery/jquery-3.4.1.js" %}></script>
<script src={% static "vendors/bootstrap/bootstrap.bundle.js" %}></script>
<script src={% static "vendors/bootstrap/bootstrap.affix.js" %}></script>
<script src={% static "vendors/owl-carousel/js/owl.carousel.js" %}></script>
<script src={% static "js/ollie.js" %}></script>
<script src={% static 'js/baguetteBox.min.js' %}></script>
<script>
    baguetteBox.run('.compact-gallery', {animation: 'slideIn'});
</script>

</body>
</html>