{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Moscow Estate - turnkey country houses near Moscow">
    <meta name="author" content="Roman Pecheritsa">
    <title>{{ title }}</title>

    <link rel="stylesheet" href={% static 'vendors/owl-carousel/css/owl.carousel.css' %}>
    <link rel="stylesheet" href={% static 'vendors/owl-carousel/css/owl.theme.default.css' %}>
    <link rel="stylesheet" href={% static 'css/ollie.css' %}>
    <link rel="stylesheet" href="{% static 'icons/bootstrap-icons.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

{% include 'includes/navmenu_main.html' %}
{% include 'includes/header.html' %}


<section class="section" id="about">
    <div class="container">
        <div class="row align-items-center mr-auto">
            <div class="col-md-4">
                <h3 class="section-title">О нас</h3>
                <p>Мы — компания Moscow Estate, специализирующаяся на строительстве загородных домов вашей мечты. Мы
                    создаем комфортное и качественное жилье, которое становится идеальным местом для жизни, отдыха и
                    вдохновения.</p>
            </div>
            <div class="col-sm-6 col-md-4 ml-auto">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="bi bi-calendar-event"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">15+</h4>
                        <p>Лет на рынке</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="bi bi-emoji-smile"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">500+</h4>
                        <p>Довольных клиентов</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="bi bi-house"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">200+</h4>
                        <p>Реализованных проектов</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="bi bi-people"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">50+</h4>
                        <p>Человек в команде</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section" id="houses">
    <div class="container">
        <h6 class="xs-font mb-0">Которые мы построили</h6>
        <h3 class="section-title pb-4">Дома</h3>
    </div>


    <div id="owl-portfolio" class="owl-carousel owl-theme mt-4">
        {% for house in main_houses %}
            <a href="{% url 'houses:house_detail'  house.pk %}" class="item expertises-item">
            <img src="{{ house.main_photo.url }}" alt="{{ house.name }}">
            <h6 class="mt-3 mb-2">{{ house.name }}</h6>
            <p class="xs-font">{{ house.description|truncate_smart:100 }}</p>
            </a>
        {% endfor %}
    </div>
    <div style="text-align: center">
        <a class="btn btn-primary btn-rounded" href={% url 'houses:house_list' %}>Все дома</a>
    </div>

</section>

<section class="section" id="interior">
    <div class="container">
        <h6 class="xs-font mb-0">Которого мы придерживаемся</h6>
        <h3 class="section-title mb-4">Интерьер</h3>

        <div class="row text-center">
            {% for interior in main_interiors %}
            <div class="col-lg-4">
                <a href="{% url 'houses:interior_gallery' %}?interior={{ interior.id }}" class="card border-0 text-dark">
                    <img class="card-img-top" src="{{ interior.main_photo.url }}" alt="{{ interior.name }}">
                    <span class="card-body">
                        <h4 class="title mt-4">{{ interior.name }}</h4>
                        <p class="xs-font">{{ interior.description }}</p>
                    </span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <div style="text-align: center">
        <a class="btn btn-primary btn-rounded" href="{% url 'houses:interior_gallery' %}">Все интерьеры</a>
    </div>
</section>

<section class="section" id="news">

    <div class="container mb-3">
        <h6 class="xs-font mb-0">Рассказываем о событиях</h6>
        <h3 class="section-title mb-5">Новости</h3>

        <div class="blog-wrapper">
            <div class="img-wrapper">
                <img src={% static 'imgs/img-3.jpg' %} alt="Download free bootstrap 4 landing page, free boootstrap 4
                     templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing
                     page">
                <div class="date-container">
                    <h6 class="day">29</h6>
                    <h6 class="mun">Jun</h6>
                </div>
            </div>
            <div class="txt-wrapper">
                <h4 class="blog-title">Lorem ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum vitae ducimus dolor sed numquam,
                    assumenda non dolorem in facilis eius alias voluptates, fugit maiores aspernatur ad rem saepe
                    molestiae consequuntur. adipisicing elit. Repellat nam placeat laboriosam dolorum aperiam fuga
                    voluptate, quis ea vel ab sunt incidunt quasi, molestias atque deserunt voluptates quae voluptatum
                    sit.</p>

                <a href="#" class="badge badge-info">Graphic Design</a>

                <h6 class="blog-footer">
                    <a href="javascript:void(0)"><i class="ti-user"></i> Admin </a> |
                    <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 213 </a> |
                    <a href="javascript:void(0)"><i class="ti-comments"></i> 123</a>
                </h6>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section pb-0">

    <div class="container">
        <h3 class="section-title mb-5">Свяжитесь с нами</h3>

        <div class="row align-items-center justify-content-between">
            <div class="col-md-8 col-lg-7">
                {#      Яндекс КАРТА          #}
            </div>
            <div class="col-md-4 d-none d-md-block order-1">
                <ul class="list">
                    <li class="list-head">
                        <h6>Контактная информация</h6>
                    </li>
                    <li class="list-body">
                        <p class="py-2"><i class="bi bi-geo-alt"></i>{{ contact_info.address }}</p>
                        <p class="py-2"><i class="bi bi-envelope"></i>{{ contact_info.email }}</p>
                        <p class="py-2"><i class="bi bi-telephone"></i>{{ contact_info.phone }}</p>

                    </li>
                </ul>
            </div>
        </div>

        {% include 'includes/footer.html' %}
    </div>
</section>
{% include 'includes/scroll_button.html' %}
<script src={% static 'vendors/jquery/jquery-3.4.1.js' %}></script>
<script src={% static 'vendors/bootstrap/bootstrap.bundle.js' %}></script>
<script src={% static 'vendors/bootstrap/bootstrap.affix.js' %}></script>
<script src={% static 'vendors/owl-carousel/js/owl.carousel.js' %}></script>
<script src={% static 'js/ollie.js' %}></script>

</body>
</html>
