{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Ollie landing page.">
    <meta name="author" content="Devcrud">
    <title>{{ title }}</title>

    <link rel="stylesheet" href={% static 'vendors/owl-carousel/css/owl.carousel.css' %}>
    <link rel="stylesheet" href={% static 'vendors/owl-carousel/css/owl.theme.default.css' %}>
    <link rel="stylesheet" href={% static 'css/ollie.css' %}>
    <link rel="stylesheet" href={% static 'icons/font/bootstrap-icons.css' %}>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

{% include 'includes/navmenu_main.html' %}
{% include 'includes/header.html' %}


<section class="section" id="about">
    <div class="container">
        <div class="row align-items-center mr-auto">
            <div class="col-md-4">
                <h3 class="section-title">О нас</h3>
                <p>Мы — компания Moscow Estate, специализирующаяся на строительстве загородных домов вашей мечты. Мы
                    создаем комфортное и качественное жилье, которое становится идеальным местом для жизни, отдыха и
                    вдохновения.</p>

            </div>
            <div class="col-sm-6 col-md-4 ml-auto">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="bi bi-calendar-event"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">15+</h4>
                        <p>Лет на рынке</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="bi bi-emoji-smile"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">125+</h4>
                        <p>Довольных клиентов</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="bi bi-house"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">3434+</h4>
                        <p>Реализованных проектов</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="bi bi-people"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">80+</h4>
                        <p>Человек в команде</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="interior">
    <div class="container">
        <h6 class="xs-font mb-0">Blanditiis unde illum earum</h6>
        <h3 class="section-title mb-4">Expertises</h3>

        <div class="row text-center">
            <div class="col-lg-4">
                <a href="javascript:void(0)" class="card border-0 text-dark">
                    <img class="card-img-top" src={% static 'imgs/img-5.jpg' %} alt="Download free bootstrap 4 landing
                         page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap
                         4.1.1 templates, ollie Landing page">
                    <span class="card-body">
                            <h4 class="title mt-4">Codding &amp; Designing</h4>
                            <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </span>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="javascript:void(0)" class="card border-0 text-dark">
                    <img class="card-img-top" src={% static 'imgs/img-6.jpg' %} alt="Download free bootstrap 4 landing
                         page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap
                         4.1.1 templates, ollie Landing page">
                    <span class="card-body">
                            <h4 class="title mt-4">Graphic Design</h4>
                            <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </span>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="javascript:void(0)" class="card border-0 text-dark">
                    <img class="card-img-top" src={% static 'imgs/img-7.jpg' %} alt="Download free bootstrap 4 landing
                         page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap
                         4.1.1 templates, ollie Landing page">
                    <span class="card-body">
                            <h4 class="title mt-4">Development</h4>
                            <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section" id="houses">
    <div class="container">
        <h6 class="xs-font mb-0">Culpa perferendis excepturi.</h6>
        <h3 class="section-title pb-4">Our Products</h3>
    </div>


    <div id="owl-portfolio" class="owl-carousel owl-theme mt-4">
        <a href="javascript:void(0)" class="item expertises-item">
            <img src={% static 'imgs/img-1.jpg' %} alt="Download free bootstrap 4 landing page, free boootstrap 4
                 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing
                 page" class="box-shadow">
            <h6 class="mt-3 mb-2">Fuga asperiores</h6>
            <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src={% static 'imgs/img-2.jpg' %} alt="Download free bootstrap 4 landing page, free boootstrap 4
                 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing
                 page" class="box-shadow">
            <h6 class="mt-3 mb-2">Voluptatibus iure!</h6>
            <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src={% static 'imgs/img-3.jpg' %} alt="Download free bootstrap 4 landing page, free boootstrap 4
                 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing
                 page" class="box-shadow">
            <h6 class="mt-3 mb-2">Autem minus animi</h6>
            <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src={% static 'imgs/img-4.jpg' %} alt="Download free bootstrap 4 landing page, free boootstrap 4
                 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing
                 page" class="box-shadow">
            <h6 class="mt-3 mb-2">Sed eligendi</h6>
            <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src={% static 'imgs/img-8.jpg' %} alt="Download free bootstrap 4 landing page, free boootstrap 4
                 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing
                 page" class="box-shadow">
            <h6 class="mt-3 mb-2">Totam eveniet assumenda!</h6>
            <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src={% static 'imgs/img-9.jpg' %} alt="Download free bootstrap 4 landing page, free boootstrap 4
                 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing
                 page" class="box-shadow">
            <h6 class="mt-3 mb-2">Sapiente dolore ut</h6>
            <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </a>
    </div>

</section>

<section class="section" id="news">

    <div class="container mb-3">
        <h6 class="xs-font mb-0">Culpa perferendis excepturi.</h6>
        <h3 class="section-title mb-5">Our Blog</h3>

        <div class="blog-wrapper">
            <div class="img-wrapper">
                <img src={% static 'imgs/img-3.jpg' %} alt="Download free bootstrap 4 landing page, free boootstrap 4
                     templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, ollie Landing
                     page">
                <div class="date-container">
                    <h6 class="day">29</h6>
                    <h6 class="mun">Jun</h6>
                </div>
            </div>
            <div class="txt-wrapper">
                <h4 class="blog-title">Lorem ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum vitae ducimus dolor sed numquam,
                    assumenda non dolorem in facilis eius alias voluptates, fugit maiores aspernatur ad rem saepe
                    molestiae consequuntur. adipisicing elit. Repellat nam placeat laboriosam dolorum aperiam fuga
                    voluptate, quis ea vel ab sunt incidunt quasi, molestias atque deserunt voluptates quae voluptatum
                    sit.</p>

                <a href="#" class="badge badge-info">Graphic Design</a>

                <h6 class="blog-footer">
                    <a href="javascript:void(0)"><i class="ti-user"></i> Admin </a> |
                    <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 213 </a> |
                    <a href="javascript:void(0)"><i class="ti-comments"></i> 123</a>
                </h6>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section pb-0">

    <div class="container">
        <h3 class="section-title mb-5">Свяжитесь с нами</h3>

        <div class="row align-items-center justify-content-between">
            <div class="col-md-8 col-lg-7">
                {#      Яндекс КАРТА          #}
            </div>
            <div class="col-md-4 d-none d-md-block order-1">
                <ul class="list">
                    <li class="list-head">
                        <h6>Контактная информация</h6>
                    </li>
                    <li class="list-body">
                        <p class="py-2">Свяжитесь с нами и мы ответим вам в течении 24 часов</p>
                        <p class="py-2"><i class="bi bi-geo-alt"></i> {{ contact_info.address }}</p>
                        <p class="py-2"><i class="bi bi-envelope"></i> {{ contact_info.email }}</p>
                        <p class="py-2"><i class="bi bi-telephone"></i> {{ contact_info.phone }}</p>

                    </li>
                </ul>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>
</section>

<script src={% static 'vendors/jquery/jquery-3.4.1.js' %}></script>
<script src={% static 'vendors/bootstrap/bootstrap.bundle.js' %}></script>
<script src={% static 'vendors/bootstrap/bootstrap.affix.js' %}></script>
<script src={% static 'vendors/owl-carousel/js/owl.carousel.js' %}></script>
<script src={% static 'js/ollie.js' %}></script>

</body>
</html>
